<div style="text-align:center">
  <h1 class="wrapper">
    Welcome to {{ title }}!
  </h1>
</div>

<div id="parent">
  <div class="kid" id="box1">1</div>
  <div class="kid" id="box2">2</div>
</div>

<div id="thumbnail">
  <div class="box" id="box2"><span class="num">3</span>
    <img src="https://www.westelm.com/weimgs/rk/images/wcm/products/201847/0012/organic-luxe-fibrosoft-towels-white-m.jpg">
  </div> <!-- './src/api/products/testData.json' -->
  <div class="box" id="box5"><span class="num">4</span>
    <img src="https://www.westelm.com/weimgs/rk/images/wcm/products/201847/0012/organic-luxe-fibrosoft-towels-white-m.jpg">
  </div>
  <div class="box" id="box2"><span class="num">5</span>
    <img src="https://www.westelm.com/weimgs/rk/images/wcm/products/201847/0012/organic-luxe-fibrosoft-towels-white-m.jpg">
  </div>
</div>
